@import "~bootstrap/dist/css/bootstrap.min.css";
.number {
  font-size: 175px;
}
.palo {
  font-size: 85px;
}
body {
  background: url(https://st2.depositphotos.com/2032035/6888/v/450/depositphotos_68887997-stock-illustration-poker-green-background.jpg);
}
